<div class="row">
  <img src="https://d1qb2nb5cznatu.cloudfront.net/startups/i/255890-6001436d845bc57af0be3ff007f4bcaa-medium_jpg.jpg?buster=1427129016" alt="Flatiron School logo" class="logo">
    <ul class="main-nav">
      <li> <%= link_to "Store Home", store_path %> </li>

       <% if current_user %>
      <li> Signed in as <%= current_user.email %> </li>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
       <% else %>
      <li> <%= link_to "sign in", new_user_session_path %> </li>
      <li> <%= link_to "Sign up", new_user_registration_path %> </li>
       <% end %>

       <% if current_user && current_user.current_cart %>
      <li>   <%= link_to "Cart", cart_path(current_user.current_cart) %> </li>
       <% end %>
    </ul>
</div>
